<%- include('../partials/header') %>

     <form id="edit-form" action="/businesses/<%= business._id %>?_method=PUT" method="POST">
          <label>Edit Image URL:</label>
          <input type="text" name="image_URL" value="<%= business.image_URL %>">
          <label>Edit Name:</label>
          <input type="text" name="name" value="<%= business.name %>">
          <label>Edit Description:</label>
          <textarea maxlength="250" name="description" value="<%= business.description %>"></textarea>
          <label>Edit Address:</label>
          <input type="text" name="address" value="<%= business.address %>">
          <label>Edit Website:</label>
          <input type="text" name="link" value="<%= business.link %>">
          <label>Edit Phone:</label>
          <input type="text" name="phone" value="<%= business.phone %>">
          <label>Edit Email:</label>
          <input type="text" name="email" value="<%= business.email %>">
          <label>Edit Category:</label>
          <select name="category" value="<%= business.category %>">
               <option <%=business.category==="Audio & Visual Production" ? "selected" : "" %> value="Audio & Visual
                    Production">Audio & Visual Production</option>
               <option <%=business.category==="Business Services" ? "selected" : "" %> value="Business
                    Services">Business Services</option>
               <option <%=business.category==="Child Care & Home Services" ? "selected" : "" %> value="Child Care & Home
                    Services">Child Care & Home Services</option>
               <option <%=business.category==="Content Creator" ? "selected" : "" %> value="Content Creator">Content
                    Creator</option>
               <option <%=business.category==="Ecommerce" ? "selected" : "" %> value="Ecommerce">Ecommerce</option>
               <option <%=business.category==="Event Services" ? "selected" : "" %> value="Event Services">Event
                    Services</option>
               <option <%=business.category==="Goods & Services" ? "selected" : "" %> value="Goods & Services">Goods &
                    Services</option>
               <option <%=business.category==="Health & Beauty" ? "selected" : "" %> value="Health & Beauty">Health &
                    Beauty</option>
               <option <%=business.category==="Resturant" ? "selected" : "" %> value="Resturant">Resturant</option>
          </select>
          <form action="/businesses/<%= business._id %>?_method=PUT" method="POST">
               <button class="submit-button" type="submit">Accept Changes</button>

          </form>

          <%- include('../partials/footer') %>