<%- include('../partials/header') %>
  
<table id="list">
    <thead>
      <tr>
        <th>Business Name</th>
        <th>Catagory</th>
        <% if(user){ %>
          <th></th> 
        <% }%> 
      </tr>
    </thead>
    <tbody>
      <% businesses.forEach(function(b) { %>
        <tr>
          <td><%= b.name %></td>
          <td><%= b.catagory %></td>
          <% if(user){ %>
            <td><a href="/businesses/<%= b._id %>">DETAILS</a></td>
        <%  }%>
        </tr>
        <% }); %>
      </tbody>
    </table>

<%- include('../partials/footer') %>